@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');

.post {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
.logo__cursor {
	display: none;
}
.index-content {
	padding: 0 20px;
}
.content {
	margin: 50px auto;
	width: 800px;
	max-width: 100%;
}
