@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');

.post {
    font-family: 'Roboto', sans-serif;
}
.logo__cursor {
	display: none;
}
.posts  {
	max-width: 100%;
}
.post {
	width: 800px;
	max-width: 100%;
}
